{% extends "base/base.html" %}

{% block start %}

<div class="card">
    <div class="card-body d-flex">
        <div class="form-inline d-inline-flex mr-auto">
            <label>Category
            <select id="categoryDropdown" onchange="get_category()" class="ml-2 form-control">
                <option value="Select">Select</option>
                {% for category in categories %}
                <option value="{{category.category_slug}}">{{category.category_name}}</option>
                {% endfor %}
            </select>
        </label></div>
        <div class="btn-group" role="group" aria-label="Filter by">
          <button type="button" class="btn btn-outline-primary active">Featured</button>
          <button type="button" class="btn btn-outline-primary">New Items</button>
          <button type="button" class="btn btn-outline-primary">On Sale</button>
        </div>
    </div>
    </div>

<div class="container mt-5 pt-5">
   
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <figure class="card card-product-grid">
                <div class="img-wrap"> <img src="/media/{{product.product_images.first.image}}"> </div>
                <figcaption class="info-wrap border-top">
                    <a href="http://127.0.0.1:8000/products/{{product.product_slug}}" class="title">{{product.product_name}}</a>
                    <div class="price mt-2">Rs. {{product.price}}</div> <!-- price-wrap.// -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->
        {% endfor %}   
    </div>

    </div>

    <script>
  
            function get_category() {
                var selectedCategory = document.getElementById("categoryDropdown").value;
                if (selectedCategory !== "Select") {
                    console.log(`selected : ${selectedCategory}`);
                    window.location.href = `http://127.0.0.1:8000/products/categories/${selectedCategory}`;
                }
            }
    </script>
{% endblock %}